/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BACKGROUND */
body {
    height: 100vh;
    background: url("/static/css/loginsignup.jpg.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DARK OVERLAY */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* CONTAINER */
.auth-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.move-left {
    text-align: left;
    margin-bottom: 10px;
}

.move-left a {
    color: #00ffcc;
    text-decoration: none;
    font-size: 0.9rem;
}

/* GLASS CARD */
.auth-card {
    width: 350px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    text-align: center;
    color: white;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

/* TEXT */
.auth-card h2 {
    margin-bottom: 20px;
}

/* INPUTS */
.auth-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
}

/* BUTTON */
.auth-card button {
    width: 100%;
    padding: 12px;
    background: #00ffcc;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.auth-card button:hover {
    background: #00ddb3;
}

/* LINKS */
.auth-card p {
    margin-top: 15px;
    font-size: 0.9rem;
}

.auth-card a {
    color: #00ffcc;
    text-decoration: none;
}
