<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
</nav>

<section class="contact-container">
    <h1>Contact Us</h1>

    <p>
        Have questions, feedback, or suggestions?
        Feel free to reach out to us.
    </p>

    <div class="contact-info">
        <p><strong>Email:</strong> sujalb2004@gmail.com</p>
        <p><strong>Phone:</strong> +91 90224 43032</p>
        <p><strong>Location:</strong> India</p>
    </div>

   <!-- <form class="contact-form">
        <input type="text" placeholder="Your Name" required>
        <input type="email" placeholder="Your Email" required>
        <textarea placeholder="Your Message" rows="5" required></textarea>
        <button type="submit">Send Message</button>
    </form>-->
</section>

</body>
</html>
