<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



<div class="container">
    <h2>Welcome {{ user }}</h2>

  <div class="top-links">
    <a href="/watchlist">My Watchlist</a> |
    <a href="/portfolio">My Portfolio</a> |
    <a href="/logout">Logout</a>
</div>



    <p><b>Balance:</b> {{ balance }}</p>


    <table>
        <tr>
            <th>Company</th>
            <th>Price</th>
            <th>Date</th>
            <th>Action</th>
            <th>Buy Now</th>
            <th>Chart</th>
            
            
       
        </tr>
    
       {% for stock in stocks %}
<tr>
    <td>{{ stock.company }}</td>
    <td>{{ stock.price }}</td>
    <td>{{ stock.date }}</td>

    <td>
        {% if stock.company in user_watchlist %}
            Added
        {% else %}
            <a href="/add_to_watchlist/{{ stock.company }}">Add to Watchlist</a>
        {% endif %}
    </td>

    <td>
       <form method="POST" action="/buy/Apple">
    <input type="number" name="quantity" value="5" min="1">
    <button type="submit">Buy</button>
</form>

    </td>

    <td>
        <a href="/chart/{{ stock.company }}">View Chart</a>
    </td>
</tr>
{% endfor %}

    </table>
    
    

</div>

