<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Stock Trading</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<!-- BACKGROUND VIDEO -->
<video autoplay muted loop id="bg-video">
    <source src="{{ url_for('static', filename='videos/bg.mp4') }}" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

<!-- DARK OVERLAY -->
<div class="overlay"></div>

<nav>
    <div class="nav-left">
        <span class="logo">StockTrade</span>
    </div>

    <div class="nav-right">
        <a href="{{ url_for('about') }}">About</a> 
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="/login">Login</a>
        <a href="/signup" class="btn-nav">Sign Up</a>
    </div>
</nav>


<div class="cont">
    <h1>Welcome to Real Time Stock Trading Platform</h1>
    <p>Trade stocks in real time with up-to-date market data.</p>
</div>
<div>
   <section class="features">
    <h2>Why Choose Our Trading Platform</h2>
    <div class="feature-grid">
        <div>📈 Real-Time Market Data</div>
        <div>🔐 Secure Authentication</div>
        <div>💼 Virtual Trading Wallet</div>
        <div>📊 Interactive Charts</div>
        <div>⭐ Personal Watchlist</div>
    </div>
</section>

<section class="how-it-works">
    <h2>How It Works</h2>
    <ol>
        <li>Create an Account</li><br>
        <li>Explore Market Data</li><br>
        <li>Buy & Sell Stocks</li><br>
        <li>Track Portfolio Performance</li>
    </ol>
</section>

<section class="cta">
    <h2>Ready to Start Trading?</h2>
    <a href="/signup" class="btn-main">Start Trading</a>
</section>


</div>
</body>
</html>
