<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="container">
    <h2>{{ user }}'s Portfolio</h2>

    <p><b>Balance:</b> {{ balance }}</p>
   <a href="{{ url_for('dashboard') }}">⬅ Back to Dashboard</a>

    {% if portfolio %}
    <table>
        <tr>
            <th>Company</th>
            <th>Quantity</th>
            <th>Buy Price</th>
            <th>Current Price</th>
            <th>P/L</th>
            <th>Sell</th>
        </tr>

        {% for p in portfolio %}
        <tr>
            <td>{{ p.company }}</td>
            <td>{{ p.quantity }}</td>
            <td>{{ p.buy_price }}</td>
            <td>{{ p.current_price }}</td>
            <td class="{% if p.pnl >= 0 %}profit{% else %}loss{% endif %}">
                {{ p.pnl }}
            </td>
            <td>
               <form action="{{ url_for('sell_stock', company=p.company) }}" method="post">
       <input type="number" name="quantity" min="1" max="{{ p.quantity }}" required>
    
   
       <input type="hidden" name="sell_price" value="{{ p.current_price }}">
    
       <button type="submit">Sell</button>
</form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No stocks purchased yet.</p>
    {% endif %}
</div>
